@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin comment(){
	font-size: 1em;
	color: $font-gray;
}

@mixin iconbefore(){
	position: relative;
	&:before{
		content: "";
		display: block;
		position: absolute;
	}
}