.comments{
	margin-top:0 !important;
	padding:0;
	width:100%;
	padding-bottom: 60px;
	button{
		float: right;
		height: 44px;
		width: 144px;
		margin: 10px 0;
		background-color: $yellow-button;
		border: 1px solid transparent;
		border-radius: 5px;
	}
	.new-comment{
		border-bottom: 2px solid $gray;
		@include clearfix();
		#new{
			position: relative;
			height: 80px;
			max-width: 670px;
			width: 100%;
			border: 2px solid $gray;
			border-radius: 5px;
			padding: 10px;
			box-sizing: border-box;
		}
	}
	.comment{
		margin-top: 40px;
		#edit{
			position: relative;
			height: 80px;
			max-width: 670px;
			width: 100%;
			border: 2px solid $gray;
			border-radius: 5px;
			padding: 10px;
			box-sizing: border-box;
		}
	}
	.date-added{
		@include comment();
		&:before{
			@include fa-icon();
			content: "\f017";
			margin-left: 5px;
		}
	}
	a{
		margin-right: 10px;
	}
	.edit{
		@include comment();
		&:before{
			@include fa-icon();
			content: "\f044";
		}
	}
	.delete{
		@include comment();
		&:before{
			@include fa-icon();
			content: "\f00d";
		}
	}
	.reply{
		@include comment();
		&:before{
			@include fa-icon();
			content: "\f112";
		}
	}
	.comm-author{
		color: #000;
		text-decoration: none;
		font-size: 1.2em;
		font-weight: bold;
	}
	.user-avatar{
		padding: 2px;
		border: 2px solid $gray;
		border-radius: 4px;
		width: 80px;
		margin-right: 22px;
		float: left;
	}
	.form-reply{
		margin: 20px 0 0 110px;
		@include clearfix();
		.cancel{
			float: right;
			@include comment();
			&:before{
				@include fa-icon();
				content: "\f00d";
			}
		}
		.to{
			@include comment();
			&:before{
				@include fa-icon();
				content: "\f064";
			}
		}
		.text-reply{
			position: relative;
			margin-top: 15px;
			height: 80px;
			max-width: 670px;
			width: 100%;
			border: 2px solid rgb(242, 242, 242);
			border-radius: 5px;
			padding: 10px;
			box-sizing: border-box;
			float: right;
		}
	}
	.replied{
		margin: 30px 0 0 110px;
		p{
			padding-left: 90px;
		}
		br{
			display: none;
		}
		.reply-avatar{
			width: 60px;
		}
		.replied-to{
			@include comment();
			&:before{
				@include fa-icon();
				content: "\f064";
			}
		}
	}
	.load-more{
		margin-top: 50px;
		display: block;
		overflow: hidden;
		text-align: center;
		height: 45px;
		&:before, &:after {
			background-color: $gray;
			content: "";
			display: inline-block;
			height: 1px;
			position: relative;
			vertical-align: middle;
			width: 50%;
		}
		&:before {
		right: 0.5em;
		margin-left: -50%;
		}
		&:after {
		left: 0.5em;
		margin-right: -50%;
		}
		a{
			border: 1px solid $gray;
			padding: 10px;
			display: inline-block;
			margin-right: 0;
			@include comment();
		}
	}
}