h1{
	margin: 0;
	height: 80px;
	vertical-align: bottom;
	position: relative;
	font-size: 2em;
	border-bottom: 1px solid $gray;
	font-family: "Stag-Semibold";
	span{
		position: absolute;
		bottom: 10px;
	}
	&:before{
		content: "";
		display: block;
		position: absolute;
		width: 32px;
		height: 32px;
		left: -50px;
		bottom: 15px;
		background-image: url('../img/star.png');
	}
}
h2{
	font-size: 2em;
}