figure{
	float: left;
	position: relative;
}
.image-lg, .image-md-sm{
	margin-left: -80px;
	margin-right: 20px;
	border: 5px solid $gray;
	border-left: 0;
	line-height: 0;
	figcaption{
		width: 94%;
		height: 94%;
		position: absolute;
		top: 3%;
		left: 3%;
		color: #fbfcfc;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.5);
		opacity: 0;
		z-index: 1;
		&:hover{
			animation: fadeIn 0.8s both;
			opacity: 1;
		}
		div{
			position: absolute;
			bottom: 20px;
			text-align: center;
			width: 100%;
			.photo-by{
				
			}		
		}
	    a{
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: url("../img/eye.png") center center no-repeat;
	    }
	}
}
.image-md-sm{
	display: none;
}
.image-lg{
	display: block;
}