body{
	@include regular();
}
.date{
	@include comment();
}
.support-info{
	@include comment();
	span{
		position: relative;
		margin-left: 50px;
		&:first-of-type{
			margin-left: 0;
		}
		&:before{
			@include fa-icon();
		}
	}
	.author{
		&:before{
			content: "\f007";
		}
	}
	.posted{
		&:before{
			content: "\f017";
		}
	}
	.comments-no{
		&:before{
			content: "\f075";
		}
	}
}